<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/de23b03d2b.js" crossorigin="anonymous"></script>

    {% load static %}
    {% block styles %}
    {% endblock styles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <title>
        {% block title %}
        Book Management System
        {% endblock title %} 
    </title>

</head>
<body>
    <em>BMS</em>
    <div class="alert">

    {% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
        &nbsp;
        <i class="fa-solid fa-xmark"></i>
    {% endfor %}
    {% endif %}
    </div>



    {% block content %}

    {% endblock content %}    
</body>
</html>